/* Asegúrate de que el ion-content ocupa todo el espacio disponible */
ion-content {
    --background: none; /* Elimina el fondo por defecto para que la imagen se muestre */
  }
  
  /* Estilo para el contenedor principal */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('/assets/fondo1.png') no-repeat center center/cover; /* Cambia la ruta de la imagen según la ubicación de tu imagen */
  }
  
  /* Estilo para el card que contiene el formulario */
  .login-card {
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  }
  .input-item {
    --background: transparent; /* Elimina cualquier fondo del ion-item */
  }
  
  /* Estilo para el título del card */
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para los ítems del formulario */
  .input-item {
    --padding-start: 0;
    margin-bottom: 16px;
  }
  
  /* Estilo para las etiquetas de los campos */
  .input-item ion-label {
    color: #333;
  }
  
  /* Estilo para los campos de entrada */
  .input-item ion-input {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 8px;
    color: #000;
  }
  
  
  /* Estilo para el mensaje de error */
  ion-text {
    margin-top: 16px;
    text-align: center;
  }
  
  /* Estilo para el botón de inicio de sesión */
  .login-button {
    width: 100%;
    background-color: #cf8fb7;/* Color de fondo */
   /* border-radius: 30px; Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    --color: #ffffff; /* Color del texto */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves para el color y el tamaño */
  }
  
  /* Estilo para el botón al pasar el cursor o al enfocarlo */
  .login-button:hover,
  .login-button:focus {
    background-color: #2b7070; /* Color de fondo al pasar el cursor */
    transform: scale(1.05); /* Escala el botón ligeramente para darle un efecto de zoom */
    box-shadow: 0 4px 8px rgba(194, 60, 60, 0.3); /* Sombra para un efecto de profundidad */
  }